{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <div class="mb-3">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Stocks</th>
                    <th>Shares</th>
                    <th>Price Per Share</th>
                    <th>Total Amount</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                <tr>
                    <td>{{ stock["type"] }}</td>
                    <td>{{ stock["symbol"] }}</td>
                    <td>{{ stock["shares"] }}</td>
                    <td>{{ stock["stock_price"] | usd }}</td>
                    <td>{{ stock["amount"] | usd }}</td>
                    <td>{{ stock["timestamp"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
